alembic==1.9.2
asgiref==3.6.0        
Django==4.1.7
greenlet==2.0.1       
Mako==1.2.4
MarkupSafe==2.1.2     
psycopg2-binary==2.9.5
python-dotenv==1.0.0  
SQLAlchemy==1.4.46    
sqlparse==0.4.3
tzdata==2022.7
whitenoise==6.3.0