<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8"/>
<title>Welcome To Shoe'N</title>
{% extends 'base.html' %}
{% block title %}Edit Profile{% endblock %}
{% block content %}


<div class="container">
    <h2>Update Settings</h2>
    {{ user.profile.bio }}

    <br><br/>
    <div class="form-group">
        <form  method="POST" type="input">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-secondary">Update</button>
        </form>
        <br>
        <!-- <a href="{% url 'home' %}" class="btn btn-secondary">Back</a> -->
    </div>
    <br><br>
</div>

<style>
    body {
        background: rgb(235, 235, 219, 1);
    }
</style>


{% endblock %}