<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8"/>
<title>Welcome To Shoe'N</title>
{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="header">
        <h1>{{ user }}'s Collection <STRONG># {{ shoe_count }}</STRONG></h1>
        {% if user.is_authenticated %}
            <!-- Messages Alert formatting here -->
            {% if messages %}
                {% for message in messages %}
                    <div class="success">
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <h4 class="alert-heading">Congrats!</h4>
                            <h3>
                                <strong><p class="mb-80">{{ message }}</p></strong>
                                <!-- <img src=" {% static 'logo\image\Nice_Collection.jpg' %} "  width=80 height=90> -->
                            </h3>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endif %}
    <hr><br>
    </div>

        {% for post in posts_list %}
        <div class="container" id="collection">
                <div class="card border-secondary mb-3" style="width: 400px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{ post.shoe_image.url }}" class="img-fluid rounded-start" alt="Shoe'N picture of a shoe">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ post.category }}</h5>
                                <p class="card-text"><h6>
                                    <a href="{% url 'article-detail' post.pk %}"> {{ post.shoe_in }}</a><br>
                                    {{ post.colaboration }}<br>
                                    {{ post.color_scheme_1 }}, {{ post.color_scheme_2 }}, {{ post.color_scheme_3 }}</h6>
                                    <small class="text-muted">{{ post.post_date }}</small>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        {% endfor %}
<br>
<br>

<style>
    body {
        background: rgb(235, 235, 219, 1);
    }

    /* .header {
        display: flex;
        justify-content: center;
    } */

    /* .container {
        display: flex;
        flex-direction: row; 
        flex-wrap: wrap;       
    } */
</style>

<!-- Pagination Stuff -->
<!-- {{ posts_list }}<br>
Has Previous: {{ posts_list.has_previous }}<br>
Has Next: {{ posts_list.has_next }}
Current Page: {{ posts_list.number }}
Number of Pages: {{ posts_list.paginator.num_pages }}-->


<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
            {% if posts_list.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo First</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ posts_list.previous_page_number }}">Previous</a></li>
            {% endif %}

            {%  for i in nums %}
                <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
            {% endfor %}

            {% if posts_list.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ posts_list.next_page_number }}">Next</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ posts_list.paginator.num_pages }}">Last &raquo</a></li>
            {% endif %}
            <br><br><br>
    </ul>
</nav>


{% endblock %}

