<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8"/>
<title>Welcome To Shoe'N</title>
    {% extends 'base.html' %}
    {% load static %}
    {% block title %}Register{% endblock %}
    {% block content %}
    <div class='text-center'>
        <img src="{% static '\logo\image\logo2.jpg' %}" class="rounded mx-auto d-block" alt="shoe'n shoe logo">
    </div>

    <h3>Shoe'N RegistrY</h3>

    <div class="form-group">    
        <form  method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-secondary">Register</button>
        </form>
    </div>
    <br><br>

    <style>
        body {
            background: rgb(235, 235, 219, 1);
        }
    </style>

    {% endblock %}

</html>

