{% extends 'base.html' %}
{% block title %}Register{% endblock %}

{% block content %}
{% load static %}


<div class='text-center'>
    <img src="{% static '\logo\image\logo2.jpg' %}" class="rounded mx-auto d-block">
</div>

<h3>Shoe'N RegisterY</h3>

<div class="form-group">
    <form  method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-secondary">Register</button>
    </form>
</div>
<br><br>




<style type="text/css">
body {
    background: rgb(235, 235, 219, 1);
}
</style>

{% endblock %}