{% extends 'base.html' %}
{% load static %}

{% block content %}


<h1>{{ user }}'s Collection</h1>
<p>Shoe Count:</p>
<br><br>

<!-- {% if page_user.id == post.id %} -->
    <!-- {% for page_user in object_list %}  -->
        <!-- {{ page_user }}  -->
    <!-- {% endfor %} -->
<!-- {% endif %} -->

{% if user.is_authenticated %}
<div class="row .row-cols-3 row-cols-md-2 g-4">
            <div class="card border-secondary mb-3" style="width: 18rem;">
                {% for post in object_list %} 
                    <img src="{{ post.shoe_image.url }}" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">
                            {{ post.category }}
                            <br>
                            Model:<a href="{% url 'article-detail' post.pk %}"> {{ post.shoe_in }}</a>
                            <a>-{{ post.author }}- <br> Colabo: {{ post.colaboration }}
                            <br> 
                            Colors: {{ post.color_scheme_1 }}, {{ post.color_scheme_2 }}, {{ post.color_scheme_3 }}</a>
                            <br/>
                        </p>
                    </div>
                {% endfor %}
            </div>
</div> 
{% else %}
    Please Login to Shoe'N!
{% endif %}
    
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
<br>
<br>

<style type="text/css">
    body {
        background: rgb(235, 235, 219, 1);
    }
</style>


{% endblock %}
