{% extends 'base.html' %}

{% block content %}


{% if user.is_authenticated %}
    <h1>Add Your Shoe In</h1>

    <br>
    <br>
    <div action="counter" class="form-group">
        <form  method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}  
            <button class="btn btn-secondary">Post</button>
        </form>
    </div>

    <br>
    <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
    <br><br>

    <script>
        var name = '{{ user.id }}';
        document.getElementById('phil').value = name;
    </script>

{% else %}
    Please Login to Shoe'N!
{% endif %}


<style type="text/css">
    body {
        background: rgb(235, 235, 219, 1);
    }
    </style>

{% endblock %}