<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8"/>
<title>Welcome To Shoe'N</title>
{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}
    <div class="container">
        <div class="form-group">
            <form  method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-secondary">Add Brand
                    
                </button>
            </form>
        </div>
    </div>
{% else %}
    <STRONG>Please Login to Shoe'N!</STRONG>
{% endif %}



<style>
    body {
        background: rgb(235, 235, 219, 1);
    }
    </style>

{% endblock %}