{% extends 'base.html' %}

{% block content %}


{% if user.is_authenticated %}
    <h1>Add Brand</h1>

    <br>
    <div class="form-group">
        <form  method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-secondary">Add
                
            </button>
        </form>
    </div>

{% else %}
    Please Login to Shoe'N!
{% endif %}



<style type="text/css">
    body {
        background: rgb(235, 235, 219, 1);
    }
    </style>

{% endblock %}