{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class='text-center'>
    <img src="{% static '\logo\image\logo1.jpg' %}" class="rounded mx-auto d-block">
</div>



<ul>
    <h1> My Collection</h1> 
    {% for post in object_list %} 
        <li><a href="{% url 'article-detail' post.pk %}">
            {{ post.shoe_in }}</a>
            - {{ post.category }}</a>
            - {{ post.colaboration }} - {{ post.color_scheme_1 }} - {{ post.color_scheme_2 }} - {{ post.color_scheme_3 }}
            <small>
            </small><br/>
        </li>
    {% endfor %}
    </ul>
    
{% endblock %}