{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class='text-center'>
    <img src="{% static '\logo\image\logo1.jpg' %}" class="rounded mx-auto d-block">
</div>

<!-- # User shoe Collection stored here -->

<!-- {% if post.author.profile.profile_pic %}
    <img src=" {{ post.author.profile.profile_pic.url }} " class="rounded-circle" width=150 height=150>
    <br><br/>
{% else %}
    <img src=" {% static 'shoen\images\default_profile_pic.jpg' %} " class="rounded-circle" width=150 height=150>
    <br><br/>
{% endif %} -->

    <h1>DB Collection</h1> 
    <br>
    <ul>
{% if user.is_authenticated %}
                <div class="card" style="width: 18rem;">
                    {% for post in object_list %} 
                        <img src="{{ post.shoe_image.url }}" class="card-img-top">
                        <div class="card-body">
                            <p class="card-text">
                                {{ post.category }}
                                <br>
                                Model:<a href="{% url 'article-detail' post.pk %}"> {{ post.shoe_in }}</a>
                                <a>-{{ post.author }}-  Colaboration: {{ post.colaboration }}
                                <br> 
                                Colors: {{ post.color_scheme_1 }}, {{ post.color_scheme_2 }}, {{ post.color_scheme_3 }}</a>
                                <br/>
                            </p>
                        </div>
                    {% endfor %}
                </div>
    </ul>
{% else %}
    Please Login to Shoe'N!
{% endif %}
    
    <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
    <br>
    <br>
    
{% endblock %}