<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8"/>
<title>Welcome To Shoe'N</title>
{% extends 'base.html' %}
{% load static %}
{% block content %}

<body>
    <div class= 'container'>
        <h2>Welcome To Shoe'N3 Metaverse!</h2><br>
        <p>
            I believe the launch of Shoe'N3 will be such a revolutionary moment in SneakerHead history. I imagine Shoe'N3 existing in a digital space, all of it taking place not in person but on some whizbang new platform that doesn't exist yet, utiling V.R or some other reality that is not the one we are currently living in. Coming Soon!
        </p>
    </div>
</body>


<style>
body {
    background: rgb(235, 235, 219, 1);
}
</style>
            

{% endblock %}