<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8"/>
<title>Welcome To Shoe'N</title>
{% extends 'base.html' %}
{% load static %}
{% block content %}

<body>
    <div class= 'container'>
        <h2>Welcome To Shoe'N3 Metaverse!</h2><br>
        <p>
            The launch of Shoe'N3 will be a world-shattering moment in Sneaker Head history. I imagine Shoe'N3 existing in a digital space not in person but maybe as an avatar. All of it taking place on some new whizz-bang platform that doesn't exist yet using V.R or some other reality that is not the one we are now living in. That future is coming soon!
        </p>
    </div>
</body>


<style>
body {
    background: rgb(235, 235, 219, 1);
}
</style>


{% endblock %}