{% extends 'base.html' %}

{% block content %}


{% if user.is_authenticated %}
    {% if user.id == post.author.id %}

        <h1>Update Post</h1>
        <br>
        <div class="form-group">
            <form  method="POST">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button class="btn btn-secondary">Update</button>
            </form>
        </div>
    {% else %}
        Please Login to Shoe'N!
    {% endif %}
{% else %}
    Please Login to Shoe'N!
{% endif %}
<br>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
<br><br>

{% endblock %}