<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8"/>
<title>Welcome To Shoe'N</title>
{% extends 'base.html' %}
{% block content %}


{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
<div class="container">
        <h2>Update Post</h2>

        <div class="form-group">
            <form  method="POST">
                {% csrf_token %}
                <!-- {{ form.media }} -->
                {{ form.as_p }}
                <button class="btn btn-secondary">Update</button>
            </form>
        </div>
    {% else %}
        Please Login to Shoe'N!
    {% endif %}
{% else %}
    Please Login to Shoe'N!
{% endif %}
<br>
<!-- <a href="{% url 'home' %}" class="btn btn-secondary">Back</a> -->
<br><br>
</div>

<style>
    body {
        background: rgb(235, 235, 219, 1);
    }
    </style>

{% endblock %}